.navbar {
  background-color: var(--black);
  border-bottom: 1px solid var(--pink);
  .logo {
    width: 4rem;
    height: 3rem;
  }
  .navbar-text {
    padding: 0.5rem;
  }
  .navbar-nav {
    .hamburger-react {
      top: 0;
      right: 0;
      position: fixed;
      z-index: 10;
    }
    .nav-item .nav-link {
      font-size: 1em;
      margin: 0 0.5em;
      color: var(--grey);
      text-decoration: none;
    }
    .nav-item .nav-link:visited {
      color: var(--grey);
    }
    .nav-item .nav-link:hover {
      color: var(--white);
    }
    a.resume.nav-link {
      color: var(--main);
      border: 1px solid var(--main);
      border-radius: 4px;
      padding: 0.5em 1.25em;
    }
    a.resume.nav-link:hover {
      background-color: var(--main-tint);
    }
    .nav-icon {
      padding: 0.5rem;
      color: var(--white);
      cursor: pointer;
    }
    .nav-icon:hover {
      color: var(--white);
    }
  }
}
